sfexchange-dreamforce-project/src/flows/IFL03_Quizz-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ADD_OneCorrectandReset</name>
        <label>ADD_OneCorrectandReset</label>
        <locationX>184</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>NbCorrect</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiAnswerCorrectCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOPTHROUGH_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ADD_Right_1</name>
        <label>ADD_Right_1</label>
        <locationX>613</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>NbRight</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PURGE_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ADD_Wrong_1</name>
        <label>ADD_Wrong_1</label>
        <locationX>827</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>NbWrong</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PURGE_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Workaround to split multiselect shit.</description>
        <name>INIT_Selected</name>
        <label>INIT_Selected</label>
        <locationX>188</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>SelectedAnswers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionMultiAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_NeedsSplit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PURGE_Variables</name>
        <label>PURGE_Variables</label>
        <locationX>610</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>NbCorrect</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiAnswerCorrectCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAnswerCorrectCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbQuestions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOPTHROUGH_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>REMOVE_Trimmed</name>
        <label>REMOVE_Trimmed</label>
        <locationX>3</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>SelectedAnswers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveTrimed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_NeedsSplit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STORE_Answers</name>
        <label>STORE_Answers</label>
        <locationX>5</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>AnswerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrimSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>REMOVE_Trimmed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STORE_Last</name>
        <label>STORE_Last</label>
        <locationX>186</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>AnswerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedAnswers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOPTHROUGH_Answers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CHECK_Correct</name>
        <label>CHECK_Correct</label>
        <locationX>601</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>S02_Wrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsCorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleAnswerCorrectCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S03_Right</targetReference>
            </connector>
            <label>IsCorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_NeedsSplit</name>
        <label>CHECK_NeedsSplit</label>
        <locationX>189</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>STORE_Last</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Needs_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAnswers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STORE_Answers</targetReference>
            </connector>
            <label>Needs Split</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_QuestionType</name>
        <label>CHECK_QuestionType</label>
        <locationX>425</locationX>
        <locationY>329</locationY>
        <defaultConnectorLabel>Catastrophic Failure</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>THIS_Question.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Choice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S01_SingleQuestionDisplay</targetReference>
            </connector>
            <label>Single</label>
        </rules>
        <rules>
            <name>Multi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>THIS_Question.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple Choice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S02_MultiQuestionDisplay</targetReference>
            </connector>
            <label>Multi</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckAllCorrectSelected</name>
        <label>DEC_CheckAllCorrectSelected</label>
        <locationX>412</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>S02_Wrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AllCorrectSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbCorrect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>THIS_Question.NbCorrectAuto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S03_Right</targetReference>
            </connector>
            <label>AllCorrectSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Correct</name>
        <label>DEC_Correct ?</label>
        <locationX>340</locationX>
        <locationY>963</locationY>
        <defaultConnector>
            <targetReference>S02_Wrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultiAnswerCorrectCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_OneCorrectandReset</targetReference>
            </connector>
            <label>correct</label>
        </rules>
    </decisions>
    <description>Finds any quizz the user is signed up to and offers that up.
TODO: add user score, tally up points, log against traininglog.</description>
    <dynamicChoiceSets>
        <name>QuestionAnswers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>QuizzQuestionRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>THIS_Question.Id</elementReference>
            </value>
        </filters>
        <object>QuizzAnswer__c</object>
        <outputAssignments>
            <assignToReference>SingleAnswerCorrectCheck</assignToReference>
            <field>IsCorrect__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>QuizzResults</name>
        <dataType>String</dataType>
        <expression>&quot;Finished THIS_Question.QuizzNameAuto__c with NbRight right answers and NbWrong answers for &quot;&amp;TEXT(({!NbRight}/{!NbWrong}*100))&amp;&quot;%. Final result: &quot;+{!ResultBoolean}</expression>
    </formulas>
    <formulas>
        <name>RemoveTrimed</name>
        <dataType>String</dataType>
        <expression>RIGHT({!SelectedAnswers},LEN({!SelectedAnswers})-FIND(&quot;;&quot;,{!SelectedAnswers})-1)</expression>
    </formulas>
    <formulas>
        <description>returns pass or fail</description>
        <name>ResultBoolean</name>
        <dataType>String</dataType>
        <expression>IF(
     ({!NbRight}/{!NbWrong}*100) &gt; 60,
     &quot;Pass&quot;,
     &quot;Fail&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TrimSelected</name>
        <dataType>String</dataType>
        <expression>LEFT({!SelectedAnswers},FIND(&quot;;&quot;,{!SelectedAnswers})-1)</expression>
    </formulas>
    <interviewLabel>IFL03_Quizz {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IFL03_Quizz</label>
    <loops>
        <name>LOOPTHROUGH_Answers</name>
        <label>LOOPTHROUGH_Answers</label>
        <locationX>181</locationX>
        <locationY>768</locationY>
        <assignNextValueToReference>THIS_AnswerId</assignNextValueToReference>
        <collectionReference>AnswerIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GET_AnswerType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_CheckAllCorrectSelected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOPTHROUGH_Questions</name>
        <label>LOOPTHROUGH_Questions</label>
        <locationX>412</locationX>
        <locationY>201</locationY>
        <assignNextValueToReference>THIS_Question</assignNextValueToReference>
        <collectionReference>MULT_QuizzQuestions</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>CHECK_QuestionType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOG_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOPTHROUGH_Quizzes</name>
        <label>LOOPTHROUGH_Quizzes</label>
        <locationX>125</locationX>
        <locationY>97</locationY>
        <assignNextValueToReference>THIS_SignedupQuizz</assignNextValueToReference>
        <collectionReference>MULT_SignedUpQuizzes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GETALL_Questions</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_AnswerType</name>
        <label>GET_AnswerType</label>
        <locationX>339</locationX>
        <locationY>860</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Correct</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>THIS_AnswerId</elementReference>
            </value>
        </filters>
        <object>QuizzAnswer__c</object>
        <outputAssignments>
            <assignToReference>MultiAnswerCorrectCheck</assignToReference>
            <field>IsCorrect__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GETALL_Questions</name>
        <label>GETALL_Questions</label>
        <locationX>412</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOPTHROUGH_Questions</targetReference>
        </connector>
        <filters>
            <field>QuizzRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>THIS_SignedupQuizz.QuizzRef__c</elementReference>
            </value>
        </filters>
        <object>QuizzQuestion__c</object>
        <outputReference>MULT_QuizzQuestions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>NbCorrectAuto__c</queriedFields>
        <queriedFields>QuizzNameAuto__c</queriedFields>
        <queriedFields>QuizzRef__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GETALL_SignedUpQuizzes</name>
        <label>GETALL_SignedUpQuizzes</label>
        <locationX>124</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOPTHROUGH_Quizzes</targetReference>
        </connector>
        <filters>
            <field>ActiveQuizz__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>UserQuizzSignup__c</object>
        <outputReference>MULT_SignedUpQuizzes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuizzRef__c</queriedFields>
        <queriedFields>ActiveQuizz__c</queriedFields>
        <queriedFields>UserRef__c</queriedFields>
        <queriedFields>QuizzNameAuto__c</queriedFields>
    </recordLookups>
    <screens>
        <name>S01_SingleQuestionDisplay</name>
        <label>S01_SingleQuestionDisplay</label>
        <locationX>557</locationX>
        <locationY>557</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CHECK_Correct</targetReference>
        </connector>
        <fields>
            <name>S01T01</name>
            <fieldText>{!THIS_Question.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuestionSingleAnswer</name>
            <choiceReferences>QuestionAnswers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose one</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S02_MultiQuestionDisplay</name>
        <label>S02_MultiQuestionDisplay</label>
        <locationX>192</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>INIT_Selected</targetReference>
        </connector>
        <fields>
            <name>S01T01_0</name>
            <fieldText>{!THIS_Question.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuestionMultiAnswer</name>
            <choiceReferences>QuestionAnswers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose all that apply</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S02_Wrong</name>
        <label>S02_Wrong</label>
        <locationX>621</locationX>
        <locationY>956</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ADD_Wrong_1</targetReference>
        </connector>
        <fields>
            <name>S02T01</name>
            <fieldText>Wrong, wrong, wrong, wrong,
wrong, wrong, wrong, wrong !
You&apos;re wrong!
You&apos;re wrong!
You&apos;re wrong!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S03_Right</name>
        <label>S03_Right</label>
        <locationX>391</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ADD_Right_1</targetReference>
        </connector>
        <fields>
            <name>S03T01</name>
            <fieldText>Yay</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GETALL_SignedUpQuizzes</startElementReference>
    <subflows>
        <name>LOG_Results</name>
        <label>LOG_Results</label>
        <locationX>140</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>LOOPTHROUGH_Quizzes</targetReference>
        </connector>
        <flowName>IFL00_GlobalTrainingLogFlow</flowName>
        <inputAssignments>
            <name>TrainingName</name>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AnswerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MULT_QuizzQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuizzQuestion__c</objectType>
    </variables>
    <variables>
        <name>MULT_SignedUpQuizzes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserQuizzSignup__c</objectType>
    </variables>
    <variables>
        <name>MultiAnswerCorrectCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NbCorrect</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbRight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbWrong</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedAnswers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleAnswerCorrectCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>THIS_AnswerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>THIS_Question</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuizzQuestion__c</objectType>
    </variables>
    <variables>
        <name>THIS_SignedupQuizz</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserQuizzSignup__c</objectType>
    </variables>
</Flow>
