sfexchange-dreamforce-project/src/flows/IFL02_SetUserInformation-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SET_FurtherReadingActive</name>
        <label>SET_FurtherReadingActive</label>
        <locationX>0</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Reading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S03_FurtherReading</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nay</name>
        <choiceText>Nay</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yay</name>
        <choiceText>Yay</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <description>Initial Onboarding Flow.
Invocable.
Called by Onboarding Login Flow.
Sets basic User Information on initial login.</description>
    <interviewLabel>IFL02_SetUserInformation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IFL02_SetUserInformation</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>SET_UserInfo</name>
        <label>SET_UserInfo</label>
        <locationX>0</locationX>
        <locationY>132</locationY>
        <connector>
            <targetReference>SET_FurtherReadingActive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>S02_MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>S02_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dfp_IsFirstLoginExperienceDone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>S02_SetInfo</name>
        <label>S02_SetInfo</label>
        <locationX>0</locationX>
        <locationY>2</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SET_UserInfo</targetReference>
        </connector>
        <fields>
            <name>S02_Stages</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProfilePictureView</name>
            <extensionName>c:ProfilePictureComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Your current profile picture</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProfilePictureUploader</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set your profile picture</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>LoginFlow_UserId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S02B01</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S02T01</name>
            <fieldText>&lt;img src=&quot;https://sfxd.github.io/assets/img/logo.png&quot; alt=&quot;SFXD logo&quot; height=&quot;75px&quot; align=&quot;center&quot;&gt;

Welcome! To make sure you&apos;re set up properly we need you to set your profile picture and input some information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S02T02</name>
            <fieldText>This information was already set for you by your administrator.
Please check if everything is correct.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>START_User.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>START_User.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>START_User.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>S02B02</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S02T03</name>
            <fieldText>We require a bit more information so your colleagues can reach you.

Please enter the phone line number given to you by IT.
you may enter your mobile phone if you wish, or if you were provided with a company mobile.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S02_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>START_User.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!S02_Phone},&quot;\\d{10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>S02_MobilePhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>START_User.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S03_FurtherReading</name>
        <label>S03_FurtherReading</label>
        <locationX>0</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>S03_Stages</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S03W01</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S03T01</name>
            <fieldText>Thanks for going through your initial setup!

If you have any more questions regarding Salesforce, please follow &lt;a href=&quot;https://trailhead.salesforce.com/trails/discover-sales-cloud&quot;&gt;the following online traing&lt;/a&gt; on trailhead. It will take you through most of the platform.

If you encounter any problems please contact your admin at &lt;mailto=&quot;totallyrealadmin@sfxd.com&quot;&gt;totallyrealadmin@sfxd.com&lt;/mailto&gt;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>First_Time_Setup</name>
        <isActive>false</isActive>
        <label>First Time Setup</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Further_Reading</name>
        <isActive>false</isActive>
        <label>Further Reading</label>
        <stageOrder>99</stageOrder>
    </stages>
    <stages>
        <description>User has accepted the Terms and Conditions</description>
        <name>Terms_Conditions</name>
        <isActive>false</isActive>
        <label>Terms &amp; Conditions</label>
        <stageOrder>0</stageOrder>
    </stages>
    <startElementReference>S02_SetInfo</startElementReference>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedsConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NeedsFirstTimeSetup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>START_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
