sfexchange-dreamforce-project/src/flows/IFL01_InitialOnboarding-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>IF the T&amp;C aren&apos;t accepted, kick the user out.</description>
        <name>KICK_User</name>
        <label>KICK_User</label>
        <locationX>202</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Nay</name>
        <choiceText>Nay</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yay</name>
        <choiceText>Yay</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>CHECK_MoveForward</name>
        <label>CHECK_MoveForward</label>
        <locationX>10</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Catastrophic Failure</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S01_Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_ConsentGiven</targetReference>
            </connector>
            <label>OK</label>
        </rules>
        <rules>
            <name>NOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S01_Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KICK_User</targetReference>
            </connector>
            <label>NOK</label>
        </rules>
    </decisions>
    <description>Initial Onboarding Flow.
Invocable.
Called by Onboarding Login Flow.
Makes sure user has read terms and conditions before logging in, and set basic information.</description>
    <interviewLabel>IFL01_InitialOnboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IFL01_InitialOnboarding</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>SET_ConsentGiven</name>
        <label>SET_ConsentGiven</label>
        <locationX>10</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Store_TrainingDone</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>dfp_IsHasAcceptedConditions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>S01_Welcome</name>
        <label>S01_Welcome</label>
        <locationX>10</locationX>
        <locationY>14</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CHECK_MoveForward</targetReference>
        </connector>
        <fields>
            <name>S01_Stages</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01B01</name>
            <fieldText>&lt;center&gt;Welcome to SFXD, Inc.&lt;/center&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01T01</name>
            <fieldText>We are glad you are here! The following will walk you through setting up your SFXD profile. If you have any questions, reach out to &lt;a href=&quot;mailto:dcsfexchange@gmail.com&quot;&gt;dcsfexchange@gmail.com&lt;/a&gt;

To get started please read and accept the&lt;a href=&quot;https://termsfeed.com/blog/sample-terms-and-conditions-template/&quot; target=&quot;_blank&quot;&gt;Terms and Conditions&lt;/a&gt;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_Confirm</name>
            <choiceReferences>Yay</choiceReferences>
            <choiceReferences>Nay</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Nay</defaultSelectedChoiceReference>
            <fieldText>Confirm</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>First_Time_Setup</name>
        <isActive>false</isActive>
        <label>First Time Setup</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Further_Reading</name>
        <isActive>false</isActive>
        <label>Further Reading</label>
        <stageOrder>99</stageOrder>
    </stages>
    <stages>
        <description>User has accepted the Terms and Conditions</description>
        <name>Terms_Conditions</name>
        <isActive>false</isActive>
        <label>Terms &amp; Conditions</label>
        <stageOrder>0</stageOrder>
    </stages>
    <startElementReference>S01_Welcome</startElementReference>
    <subflows>
        <name>Store_TrainingDone</name>
        <label>Store_TrainingDone</label>
        <locationX>11</locationX>
        <locationY>335</locationY>
        <flowName>IFL00_GlobalTrainingLogFlow</flowName>
        <inputAssignments>
            <name>TrainingName</name>
            <value>
                <stringValue>Initial Onboarding</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedsConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NeedsFirstTimeSetup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>START_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
