sfexchange-dreamforce-project/src/flows/IFL04_AccountTraining-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SET_BasicInfo</name>
        <label>SET_BasicInfo</label>
        <locationX>502</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Basic_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FETCH_Trainings_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Craetion</name>
        <label>SET_Craetion</label>
        <locationX>896</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FETCH_Trainings_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Stage</name>
        <label>SET_Stage</label>
        <locationX>112</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Navigation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FETCH_Trainings</targetReference>
        </connector>
    </assignments>
    <description>Trains user on Accounts.</description>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>IFL04_AccountTraining {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IFL04_AccountTraining</label>
    <loops>
        <name>LOOP_Trainings</name>
        <label>LOOP_Trainings</label>
        <locationX>290</locationX>
        <locationY>135</locationY>
        <assignNextValueToReference>AccountScreen</assignNextValueToReference>
        <collectionReference>MULT_AccountScreens</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>S01_Display_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SET_BasicInfo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Trainings_0</name>
        <label>LOOP_Trainings</label>
        <locationX>684</locationX>
        <locationY>260</locationY>
        <assignNextValueToReference>AccountScreen</assignNextValueToReference>
        <collectionReference>MULT_AccountScreens</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>S01_Display_Screen_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SET_Craetion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Trainings_0_0</name>
        <label>LOOP_Trainings</label>
        <locationX>1071</locationX>
        <locationY>392</locationY>
        <assignNextValueToReference>AccountScreen</assignNextValueToReference>
        <collectionReference>MULT_AccountScreens</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>S01_Display_Screen_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SET_UserDone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>FETCH_Trainings</name>
        <label>FETCH_Trainings</label>
        <locationX>114</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Trainings</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Account - nav</stringValue>
            </value>
        </filters>
        <object>Training__c</object>
        <outputReference>MULT_AccountScreens</outputReference>
        <queriedFields>Content__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>FETCH_Trainings_0</name>
        <label>FETCH_Trainings</label>
        <locationX>508</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Trainings_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Account - basicinfo</stringValue>
            </value>
        </filters>
        <object>Training__c</object>
        <outputReference>MULT_AccountScreens</outputReference>
        <queriedFields>Content__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>FETCH_Trainings_0_0</name>
        <label>FETCH_Trainings</label>
        <locationX>895</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Trainings_0_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Account - creation</stringValue>
            </value>
        </filters>
        <object>Training__c</object>
        <outputReference>MULT_AccountScreens</outputReference>
        <queriedFields>Content__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>SET_UserDone</name>
        <label>SET_UserDone</label>
        <locationX>1293</locationX>
        <locationY>398</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>dfp_IsAccountTrainingDone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>S01_Display_Screen</name>
        <label>S01_Display_Screen</label>
        <locationX>287</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FETCH_Trainings</targetReference>
        </connector>
        <fields>
            <name>stage01</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01T01</name>
            <fieldText>{!AccountScreen.Content__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S01_Display_Screen_0</name>
        <label>S01_Display_Screen</label>
        <locationX>681</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FETCH_Trainings_0</targetReference>
        </connector>
        <fields>
            <name>stage02</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01T01_0</name>
            <fieldText>{!AccountScreen.Content__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S01_Display_Screen_0_0</name>
        <label>S01_Display_Screen</label>
        <locationX>1068</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FETCH_Trainings_0_0</targetReference>
        </connector>
        <fields>
            <name>stage03</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01T01_0_0</name>
            <fieldText>{!AccountScreen.Content__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Basic_Information</name>
        <isActive>true</isActive>
        <label>Basic Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Creation</name>
        <isActive>true</isActive>
        <label>Creation</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Navigation</name>
        <isActive>true</isActive>
        <label>Navigation</label>
        <stageOrder>1</stageOrder>
    </stages>
    <startElementReference>SET_Stage</startElementReference>
    <variables>
        <name>AccountScreen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training__c</objectType>
    </variables>
    <variables>
        <name>MULT_AccountScreens</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training__c</objectType>
    </variables>
</Flow>
