sfexchange-dreamforce-project/src/flows/LFL01_DreamforceProject_Test-22.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ADD_ConsentStage</name>
        <label>ADD_ConsentStage</label>
        <locationX>26</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Terms_Conditions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NeedsConsent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_RequiresFirstTimeExperience</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ADD_DisplayHelp</name>
        <label>ADD_DisplayHelp</label>
        <locationX>35</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Further_Reading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GOTO_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ADD_FTSStage</name>
        <label>ADD_FTSStage</label>
        <locationX>33</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>First_Time_Setup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NeedsFirstTimeSetup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_RequiresFirstTimeExperience_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CHECK_Forcekick</name>
        <label>CHECK_Forcekick</label>
        <locationX>959</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IFL01_ForceLogout</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ForceKick_dec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_ConsentActive</name>
        <label>SET_ConsentActive</label>
        <locationX>958</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terms_Conditions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Time_Experience_Initial_Onboarding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_FirstTimeExperienceActive</name>
        <label>SET_FirstTimeExperienceActive</label>
        <locationX>964</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Time_Setup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFL02_UserInformation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nay</name>
        <choiceText>Nay</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yay</name>
        <choiceText>Yay</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>CHECK_ForceAccountOnboarding</name>
        <label>CHECK_ForceAccountOnboarding</label>
        <locationX>697</locationX>
        <locationY>578</locationY>
        <defaultConnector>
            <targetReference>CHECK_ForceContactOnboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ForceAccountOnboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>START_User.dfp_IsAccountTrainingDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>START_User.dfp_IsHasCreatedAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Training</targetReference>
            </connector>
            <label>ForceAccountOnboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_ForceContactOnboarding</name>
        <label>CHECK_ForceContactOnboarding</label>
        <locationX>699</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>CHECK_ForceOpportunityOnboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ForceContactOnboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>START_User.dfp_IsTrainingContactsDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>START_User.dfp_IsHasCreatedContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Training</targetReference>
            </connector>
            <label>ForceContactOnboarding</label>
        </rules>
    </decisions>
    <decisions>
        <description>Avoids autoforward to next flow before logout</description>
        <name>Check_ForceKick_dec</name>
        <label>Check_ForceKick</label>
        <locationX>819</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>GOTO_FTE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Forcekick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IFL01_ForceLogout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Forcekick</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_ForceOpportunityOnboarding</name>
        <label>CHECK_ForceOpportunityOnboarding</label>
        <locationX>705</locationX>
        <locationY>831</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ForceOpportunityOnboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>START_User.dfp_IsTrainingOppsDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>START_User.dfp_IsHasCreatedOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Training</targetReference>
            </connector>
            <label>ForceOpportunityOnboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_RequiresConsent</name>
        <label>CHECK_RequiresConsent</label>
        <locationX>338</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>CHECK_RequiresFirstTimeExperience</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not require consent</defaultConnectorLabel>
        <rules>
            <name>Requires_First_Time_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>START_User.dfp_IsHasAcceptedConditions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_ConsentStage</targetReference>
            </connector>
            <label>Requires First Time Consent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_RequiresFirstTimeExperience</name>
        <label>CHECK_RequiresFirstTimeExperience</label>
        <locationX>337</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>CHECK_RequiresFirstTimeExperience_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not require first time experience</defaultConnectorLabel>
        <rules>
            <name>Requires_First_Time_Experience</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>START_User.dfp_IsFirstLoginExperienceDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_FTSStage</targetReference>
            </connector>
            <label>Requires First Time Experience</label>
        </rules>
    </decisions>
    <decisions>
        <description>We check this again to set if we put the final help links.
This should always be at the end of the process.</description>
        <name>CHECK_RequiresFirstTimeExperience_0</name>
        <label>CHECK_RequiresFirstTimeExperience</label>
        <locationX>338</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>GOTO_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not require first time experience</defaultConnectorLabel>
        <rules>
            <name>Requires_First_Time_Experience_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>START_User.dfp_IsFirstLoginExperienceDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_DisplayHelp</targetReference>
            </connector>
            <label>Requires First Time Experience</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is the last check before more specialized decision trees which will orient the user through the Flow.</description>
        <name>CHECK_RequiresFlow</name>
        <label>CHECK_RequiresFlow</label>
        <locationX>338</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>CHECK_RequiresConsent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Requires Flow</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Require_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>START_User.dfp_IsBypassTrainingFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Does Not Require Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>GOTO_Consent</name>
        <label>GOTO_Consent</label>
        <locationX>706</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GOTO_FTE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>GoToConsent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedsConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_ConsentActive</targetReference>
            </connector>
            <label>GoToConsent</label>
        </rules>
    </decisions>
    <decisions>
        <name>GOTO_FTE</name>
        <label>GOTO_FTE</label>
        <locationX>702</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>CHECK_ForceAccountOnboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>GoToFTE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedsFirstTimeSetup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_FirstTimeExperienceActive</targetReference>
            </connector>
            <label>GoToFTE</label>
        </rules>
    </decisions>
    <description>Dreamforce project flow.
Does automatic onboarding of users based on prior actions.
Revamped flow for better maintenance</description>
    <interviewLabel>LFL01_DreamforceProject_Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LFL01_AutomaticOnboarding</label>
    <processType>Flow</processType>
    <recordLookups>
        <description>Queries the triggering user record in order to get current status information.
Used to route the user to the correct onboarding path.</description>
        <name>START_GET_UserInfo</name>
        <label>START_GET_UserInfo</label>
        <locationX>338</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHECK_RequiresFlow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>START_User.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsAccountTrainingDone__c</assignToReference>
            <field>dfp_IsAccountTrainingDone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsBypassTrainingFlows__c</assignToReference>
            <field>dfp_IsBypassTrainingFlows__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsFirstLoginExperienceDone__c</assignToReference>
            <field>dfp_IsFirstLoginExperienceDone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsHasAcceptedConditions__c</assignToReference>
            <field>dfp_IsHasAcceptedConditions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsHasCreatedAccount__c</assignToReference>
            <field>dfp_IsHasCreatedAccount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsHasCreatedContact__c</assignToReference>
            <field>dfp_IsHasCreatedContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsHasCreatedOpportunity__c</assignToReference>
            <field>dfp_IsHasCreatedOpportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsTrainingContactsDone__c</assignToReference>
            <field>dfp_IsTrainingContactsDone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>START_User.dfp_IsTrainingOppsDone__c</assignToReference>
            <field>dfp_IsTrainingOppsDone__c</field>
        </outputAssignments>
    </recordLookups>
    <stages>
        <name>First_Time_Setup</name>
        <isActive>false</isActive>
        <label>First Time Setup</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Further_Reading</name>
        <isActive>false</isActive>
        <label>Further Reading</label>
        <stageOrder>99</stageOrder>
    </stages>
    <stages>
        <description>User has accepted the Terms and Conditions</description>
        <name>Terms_Conditions</name>
        <isActive>false</isActive>
        <label>Terms &amp; Conditions</label>
        <stageOrder>0</stageOrder>
    </stages>
    <startElementReference>START_GET_UserInfo</startElementReference>
    <subflows>
        <name>Account_Training</name>
        <label>Account Training</label>
        <locationX>967</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>CHECK_ForceContactOnboarding</targetReference>
        </connector>
        <flowName>IFL04_AccountTraining</flowName>
    </subflows>
    <subflows>
        <name>Contact_Training</name>
        <label>Contact Training</label>
        <locationX>967</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>CHECK_ForceOpportunityOnboarding</targetReference>
        </connector>
        <flowName>IFL05_ContactTraining</flowName>
    </subflows>
    <subflows>
        <name>First_Time_Experience_Initial_Onboarding</name>
        <label>First Time Experience - Initial Onboarding</label>
        <locationX>956</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>CHECK_Forcekick</targetReference>
        </connector>
        <flowName>IFL01_InitialOnboarding</flowName>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <name>LoginFlow_ForceLogout</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IFL01_ForceLogout</assignToReference>
            <name>LoginFlow_ForceLogout</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IFL02_UserInformation</name>
        <label>IFL02_UserInformation</label>
        <locationX>967</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>CHECK_ForceAccountOnboarding</targetReference>
        </connector>
        <flowName>IFL02_SetUserInformation</flowName>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>START_User</name>
            <value>
                <elementReference>START_User</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Opportunity_Training</name>
        <label>Opportunity Training</label>
        <locationX>959</locationX>
        <locationY>841</locationY>
        <flowName>IFL06_OppTraining</flowName>
    </subflows>
    <variables>
        <description>Gets the forcelogout value from the other flow</description>
        <name>IFL01_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedsConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NeedsFirstTimeSetup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>START_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
