sfexchange-dreamforce-project/src/flows/LFL01_DreamforceProject_Test-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>IF the T&amp;C aren&apos;t accepted, kick the user out.</description>
        <name>KICK_User</name>
        <label>KICK_User</label>
        <locationX>460</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Nay</name>
        <choiceText>Nay</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yay</name>
        <choiceText>Yay</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>CHECK_MoveForward</name>
        <label>CHECK_MoveForward</label>
        <locationX>261</locationX>
        <locationY>164</locationY>
        <defaultConnectorLabel>Catastrophic Failure</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S01_Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KICK_User</targetReference>
            </connector>
            <label>OK</label>
        </rules>
        <rules>
            <name>NOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S01_Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S02_SetInfo</targetReference>
            </connector>
            <label>NOK</label>
        </rules>
    </decisions>
    <description>Test version of the DreamforceProject.
Does nothing apart from checking if limitations are still present, and showcasing specific features of Flows.</description>
    <interviewLabel>LFL01_DreamforceProject_Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LFL01_DreamforceProject_Test</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>SET_UserInfo</name>
        <label>SET_UserInfo</label>
        <locationX>260</locationX>
        <locationY>383</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>S02_MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>S02_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>S01_Welcome</name>
        <label>S01_Welcome</label>
        <locationX>261</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CHECK_MoveForward</targetReference>
        </connector>
        <fields>
            <name>S01T01</name>
            <fieldText>Welcome Text here</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_Confirm</name>
            <choiceReferences>Yay</choiceReferences>
            <choiceReferences>Nay</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Nay</defaultSelectedChoiceReference>
            <fieldText>Confirm</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S02_SetInfo</name>
        <label>S02_SetInfo</label>
        <locationX>259</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SET_UserInfo</targetReference>
        </connector>
        <fields>
            <name>S02T01</name>
            <fieldText>Blablabla set info blablabla text &lt;h1&gt;and style&lt;/h1&gt; and pictures
&lt;img src=&quot;http://www.awesomearts.com/wp/wp-content/uploads/2015/12/Awesome_main_RGB.jpg&quot; alt=&quot;whatever&quot; height=&quot;200&quot;&quot;&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S02_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>S02_MobilePhone</name>
            <dataType>String</dataType>
            <fieldText>MobilePhone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Intro</name>
        <isActive>true</isActive>
        <label>Intro</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Outtro</name>
        <isActive>true</isActive>
        <label>Outtro</label>
        <stageOrder>99</stageOrder>
    </stages>
    <startElementReference>S02_SetInfo</startElementReference>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
